services:
  reverse-proxy:
    image: traefik:latest
    command:
      - "--providers.docker"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=baymax709@gmail.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    ports:
      - mode: host
        protocol: tcp
        published: 80
        target: 80
      - mode: host
        protocol: tcp
        published: 443
        target: 443
    volumes:
      - letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock
  portfolio-web:
    image: http-portfolio:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.portfolio-web-ratelimit.ratelimit.average=20"
      - "traefik.http.routers.portfolio-web.rule=Host(`krayon.dev`)"
      - "traefik.http.services.portfolio-web.loadbalancer.server.port=3000"
      - "traefik.http.routers.portfolio-web.entrypoints=websecure"
      - "traefik.http.routers.portfolio-web.tls.certresolver=myresolver"
      - "traefik.http.routers.portfolio-web.middlewares=portfolio-web-ratelimit"
    deploy:
      replicas: 3
      update_config:
        order: start-first
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "0.50"
          memory: 1GB
    stdin_open: true
    tty: true
volumes:
  letsencrypt:
    driver: local
